{% from "jenkins/map.jinja" import jenkins with context %}
[Service]
User={{ jenkins.user }}
ExecStart={{ jenkins.java_executable }} \
  {{ jenkins.java_args }} \
  -DJENKINS_HOME={{ jenkins.home }} \
  -jar {{ jenkins.binary_destination }} \
  --httpListenAddress={{ jenkins.address }} \
  --httpPort={{ jenkins.port }} \
  --debug={{ jenkins.debug_level }} \
{%- if jenkins.enable_access_log -%}  {{ jenkins.access_log }} \{% endif %}
  --handlerCountMax={{ jenkins.handler_max }} \
  --handlerCountMaxIdle={{ jenkins.handler_max_idle }} \
{%- if jenkins.jenkins_args -%}  {{ jenkins_args }}{% endif %}

[Install]
WantedBy=multi-user.target
