{%- from 'jenkins/map.jinja' import jenkins with context -%}
[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.:scripts:~/git/
recursive=False
exclude=.*:manual:./development
allow_duplicates=False

[jenkins]
user={{ jenkins.cli.http_auth.split(':')[0] }}
{# Get the jenkins admin password in case it was generated #}
{%- if jenkins.cli.http_auth.split(':')[1] == '$(cat /var/lib/jenkins/secrets/initialAdminPassword)' -%}
{%- set jenkinspw = salt['cmd.run']('cat /var/lib/jenkins/secrets/initialAdminPassword') -%}
{%- endif -%}
password={{ jenkinspw|default(jenkins.cli.http_auth.split(':')[1]) }}
url=http://localhost:8080
query_plugins_info=False
